.menu-bar {
    width: 15%; /* メニューバーの幅を広く */
    background-color: #00BFFF; /* ボタンと同じ色 */
    padding: 1rem; /* パディングをremに変更 */
    height: 97vh; /* 画面の全高さを確保 */
    margin: 0.4%; /* 上下左右に余白を追加 */
    overflow-y: auto;
    box-sizing: border-box; /* パディングを含めた幅を計算 */
    position: fixed; /* メニューバーを固定 */
    box-shadow: 0.2rem 0.4rem 0.4rem #3c3c3c; /* シャドウの単位をremに変更 */
    z-index: 1; /* 他のコンテンツより前面に表示 */
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
}

.menu-bar li {
    margin-bottom: 1rem; /* マージンをremに変更 */
}

.menu-bar a {
    text-decoration: none;
    color: #3c3c3c; /* リンクの色を黒に */
    display: block;
    padding: 1rem; /* パディングをremに変更 */
    background-color: #00BFFF; /* ボタンと同じ色 */
    border-radius: 0.25rem; /* ボーダー半径をremに変更 */
    text-align: center;
    font-size: 1.5rem; /* フォントサイズをremに変更 */
    font-weight: bold; /* フォントを太字に */
}

.menu-bar a:hover {
    background-color: #104e8b;
}

.container {
    margin-left: 17.5%; /* メニューバーの幅 + paddingを考慮 */
    padding: 1rem; /* パディングをremに変更 */
    flex: 1;
    box-sizing: border-box; /* パディングを含めた幅を計算 */
    overflow-x: auto; /* 水平方向のスクロールを有効に */
}
