.menu-bar {
    width: 300px; /* メニューバーの幅を広く */
    background-color: #00BFFF; /* ボタンと同じ色 */
    padding: 15px;
    height: 97%; /* 画面の全高さを確保 */
    margin: 0.4%; /* 上下左右に余白を追加 */
    overflow-y: auto;
    box-sizing: border-box; /* パディングを含めた幅を計算 */
    position: fixed; /* メニューバーを固定 */
    box-shadow: 3px 6px 6px #3c3c3c;
    z-index: 1; /* 他のコンテンツより前面に表示 */
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
}

.menu-bar li {
    margin-bottom: 10px;
}

.menu-bar a {
    text-decoration: none;
    color: #3c3c3c; /* リンクの色を黒に */
    display: block;
    padding: 15px; /* パディングを増やす */
    background-color: #00BFFF; /* ボタンと同じ色 */
    border-radius: 4px;
    text-align: center;
    font-size: 24px; /* フォントサイズを大きく */
    font-weight: bold; /* フォントを太字に */
}

.menu-bar a:hover {
    background-color: #104e8b;
}

.container {
    margin-left: 320px; /* メニューバーの幅 + paddingを考慮 */
    padding: 20px;
    flex: 1;
    box-sizing: border-box; /* パディングを含めた幅を計算 */
    overflow-x: auto; /* 水平方向のスクロールを有効に */
}